<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alure - Admin</title>
  <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>
  <header>
    <a href="/initial_page" class="logo">
        <img src="/static/img/logo.jpg" alt="Logo da Alure">
    </a>
    <nav>
      </nav>
    <div class="header-actions">
      <a href="/conta">👤</a>
    </div>
  </header>

  <main>
    <section class="admin-buttons-container">
      <h2>Gerenciamento de Produtos</h2>
      <a href="/admin/add-product" class="admin-button">Adicionar Produto</a>
      <a href="/admin/remove-product" class="admin-button">Remover Produto</a>
      <a href="/admin/edit-product" class="admin-button">Editar Produto</a>
      <a href="/admin/view-products" class="admin-button">Visualizar Produtos</a>
    </section>
  </main>

  <footer>
    <div class="footer-bottom">
      <p>&copy; 2025 Alure. Todos os direitos reservados.</p>
    </div>
  </footer>
</body>
</html>